body{
    background-color:rgb(200, 232, 250);
    font-size: 20px;
}
div.calc{
    width: 40%;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4%;
    
    
    
}

.display{
    height:100px;
    margin-top: 3%;
}
.buttons{
    background-color:black;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button{
    background-color:rgba(128, 255, 0, 0.638);
    font-size: 30px;
    font-weight: bold;
    padding: 5%;
    margin: 3% 2% 3% 2%;
    border-radius: 25px;
    border:1px solid rgba(91, 179, 3, 0.904)
}
button:hover{
    background-color: rgb(101, 197, 5);
}
button:focus{
    background-color: yellow;
    border: 1px solid rgb(4, 5, 0);
}

input{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}
@media screen and (max-width: 320px) {
    div.calc{
      width: 100%;
      margin: 0px;
      margin-right: 0px      ;
    }}